html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;   
    height: 100%; 
}

body {
    
    background: rgb(235, 216, 192);
    color: white;
    font-family: 'apercu-bold', sans-serif;
    -webkit-font-smoothing: antialiased;
    text-transform: uppercase;
    color: white;
}

.imagebox {
    padding-left: 20px;
    float: left;
    
  }
  
  .textbox {
    width: 40%;
    float: right;
    text-align: center;
    padding-top: 75px;
    padding-right: 150px;
    background-color: transparent;
    color:black;
    line-height: 3em;
    font-weight: 1000;
  }

  .textbox, a{
    text-transform: uppercase;
  }


li, a, button {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color:rgb(195, 135, 55);
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    
    
}

.logo {
    cursor: pointer;
    border-image: 10px 30px;
    max-width: 200px;
    max-height: fit-content;
    margin-right: auto;
}

.nav_links {
    list-style: none;
}

.nav-links, li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links ,li, a {
    transition: all 0.3s ease 0s;
}

.nav_links, li, a:hover {
    color:rgb(124, 79, 23);
}

button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color:#C19B77;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: white;
}

button:hover {
    background-color:rgb(211, 155, 87);
}

.h1 {
    text-decoration: underline;
}



.socials>a {
    display: inline-flex;
    text-decoration: none;
    color:rgb(195, 135, 55);
    border: ipx solid white;
    padding: 15px 15px;
    margin: 0 15px;
    font-size: 15pt;
    justify-content: center;
    width: 40px;
    height: 40px;
    align-items: center;
    border-radius: 15px;
    transition: 0.2s;
}

.socials >a> i{
    transition: 0.8s;
}

.socials>a:hover{
    transform: scale(1.1);
    background-color:whitesmoke;
    border: 1px solid rgb(195, 135, 55) ;
    color:rgb(195, 135, 55);
}

.socials>a:hover > i{
    transform: rotate(15deg) scale(1.2);
}

